%base-class {
    width: 20%;
    margin-left: 35%;
    margin-right: 2%;
 }
 
 .foodseachtextbox {
     @extend %base-class;
 }
  
 .header {
    margin-left: 10%;
 
    
}
.active{
    color: white !important;
}
.leftmargincheckout{
    margin-left: 150%;
}

.leftmarginlogout{
    margin-left: 1%;
}
.bg-white{
    background-color:sandybrown !important;
}
.searchbox{
    margin-left: 250%;
}