<div class="header">
    <figure class="figure">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRyCAYTy615RbKG90njxuxoa0q5WKSRoZ0I4w&usqp=CAU"
        class="figure-img img-fluid rounded shadow-3 mb-1"
        alt="..."
      />
    </figure>
    <figure class="figure">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMCt8VoZKuYZVP4B43stY3EPvWsj-r-ByyuA&usqp=CAU"
        class="figure-img img-fluid rounded shadow-3 mb-1"
        alt="..."
      />
    </figure>
    
    <figure class="figure">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRyCAYTy615RbKG90njxuxoa0q5WKSRoZ0I4w&usqp=CAU"
        class="figure-img img-fluid rounded shadow-3 mb-1"
        alt="..."
      />
    </figure>
  </div>

  <h1 class="mb-3">Kitchen Story</h1>
  <p>The order is completed successfully!</p>


